body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: rgb(88, 85, 85);
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#options{
    padding: 9.3px;
    margin: 0px;
    border: 1px solid;
    background-color: rgb(180, 180, 180);
}
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}
.searchicon{
    background-color: rgb(199, 169, 50);
    padding: 6px;
    border: 1px solid;
}